@mixin container {
  width: calc(100% - var(20px) * 2);
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  @include mobile-only{

  }

  @include tablet-only{

  }

  @include laptop-only{

  }

  @include desktop-only{
    
  }
}

@mixin mobile-only {
  @media screen and(max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and(max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin laptop-only {
  @media screen and(max-width: map-get($breakpoints, laptop)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and(max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}