$color-primary-1: #901c1c;
$color-primary-1-background: #fff;
$color-primary-2: #d3573c;

$color-seconday-1: #525252;
$color-secondary-1-bg: #fafafa;
$color-secondary-2: #901c1c;

$tag-border-color: #c4c4c4;

$breakpoints: (
  mobile: 480px,
  tablet: 760px,
  laptop: 1024px,
  desktop: 1200px,
  extra: 1400px
);
