.contactform {
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c457;

    &.open {
      display: flex;
    }
  }

  &-modal {
    width: 700px;
    padding: 35px 35px;
    background-color: $color-primary-2;
    position: relative;
    z-index: 999;

    @include tablet-only{
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }

    &-title {
      font-weight: 400;
      font-size: 64px;
      margin-block-start: 0;
      margin-block-end: 0;
      line-height: 60px;

      @include tablet-only{
        font-size: 36px;
        line-height: 48px;
      }
    }

    &-close {
      position: absolute;
      top: 35px;
      right: 35px;
      outline: none;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 42px;
      cursor: pointer;
    }

    &-button {
      font-size: 18px;
      padding: 20px 50px;
      margin-top: 25px;

      @include tablet-only{
        margin: 25px 50%;
        transform: translate(-50%, 0);
        padding: 5px 15px;
      }
    }

    &-label {
      display: block;
      color: #312E2E;
      font-size: 36px;
      margin-top: 5px;

      @include tablet-only{
        font-size: 24px;
      }
    }

    &-field {
      display: block;

      @include tablet-only{
        font-size: 24px;
        padding: 10px;
      }
    }
  }
}
