.lightbox {
  &-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }

  &-dialog {
    width: 1200px;
    height: 1000px;
    display: flex;
    z-index: 999;

    @include tablet-only{
      height: 40%;
      width: 95%;
    }

    &-previousbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 100%;

      @include tablet-only{
        width: 40px;
      }
    }

    &-contentbox {
      display: flex;
      align-self: center;
      flex-wrap: wrap;
      width: calc(100% - 160px);
      height: 100%;
      padding: 50px 0;

      @include tablet-only{
        width: calc(100% - 80px);
      }

      &-image,
      &-video {
        width: 100%;
        object-fit: scale-down;
        
        @include tablet-only{
          height: 100%;
          object-fit: cover;
        }
      }

      &-title {
        color: $color-primary-1;
        height: 40px;
        font-size: 24px;
        align-self: start;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 10px 0;
      }
    }

    &-nextbox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80px;
      height: 100%;

      @include tablet-only{
        width: 40px;
      }
    }

    &-previous,
    &-next,
    &-close {
      outline: none;
      border: none;
      background-color: transparent;
      color: $color-primary-1;
      font-weight: 700;
      font-size: 48px;
      cursor: pointer;
      
      &:active:focus {
        outline: solid;
      }

      @include tablet-only{
        font-size: 36px;
      }
    }

    &-close {
      position: absolute;
      top: 45px;
    }
  }
}

#detach-button-host {
  display: none!important;
}
