.lightbox {
  &-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }

  &-dialog {
    width: 1200px;
    height: 1000px;
    display: flex;

    &-previousbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 100%;
    }

    &-contentbox {
      display: flex;
      justify-content: center;
      align-self: center;
      width: calc(100% - 160px);
      height: 100%;
      padding: 50px 0;

      &-image {
        width: 100%;
        object-fit: cover;
      }

      &-video {
        width: 100%;
      }
    }

    &-nextbox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80px;
      height: 100%;
    }

    &-previous,
    &-next,
    &-close {
      outline: none;
      border: none;
      background-color: transparent;
      color: $color-primary-1;
      font-weight: 700;
      font-size: 48px;
      cursor: pointer;
    }

    &-close {
      position: absolute;
      top: 45px;
    }
  }
}
