.photographer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &-item {
    flex: 1 0 33%;
    width: 33%;

    &:nth-child(n+4) {
      margin-top: 80px;
    }
  }
}

.thumb-photographer {
  width: 100%;
  margin: auto;

  &-brand {
    text-decoration: none;
    text-align: center;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    img {
      align-self: center;
      max-width: 100%;
    }

    h2 {
      margin-block-start: 0;
      margin-block-end: 0;
      color: $color-primary-2;
      font-size: 36px;
      font-weight: 400;
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  &-about {
    text-align: center;

    &-city {
      padding-bottom: 3px;
      margin-block-start: 0;
      margin-block-end: 0;
      color: $color-primary-1;
      font-size: 13px;
    }

    &-caption {
      padding-bottom: 3px;
      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 10px;
    }

    span {
      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 9px;
      color: $color-seconday-1;
    }
  }

  &-tags {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photographer-header {
  background-color: $color-secondary-1-bg;
  border-radius: 5px;
  padding: 60px 35px;
  position: relative;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    max-width: 700px;
    margin-right: 200px;
  }

  &-title {
    color: $color-primary-2;
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &-caption {
    color: $color-primary-1;

    span {
      display: block;
      color: $color-seconday-1;
      margin-top: 10px;
    }
  }

  &-tags {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &-image {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

.photographer-medias {
  div:nth-child(1) {
    padding: 15px 0;
  }

  .filter {
    padding: 25px 0;
    display: flex;
    align-items: center;

    label {
      font-weight: 500;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .medias {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding-inline-start: 0;
    }

    &-item {
      width: 33%;

      &:nth-child(n+4) {
        margin-top: 30px;
      }
    }

    &-container {
      width: 350px;
      margin: auto;
    }

    &-thumb {
      width: 100%;
      height: 300px;
      object-fit: cover;
      cursor: pointer;
    }

    &-infos {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      
      &-title {
        margin-block-start: 0;
        margin-block-end: 0;
        color: $color-primary-1;
      }

      &-likes {
        color: $color-primary-1;
      }
    }
  }
}