.photographer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &-item {
    flex: 1 0 33%;
    width: 33%;

    &:nth-child(n+4) {
      margin-top: 80px;
    }
  }
}

.thumb-photographer {
  width: 250px;
  margin: auto;

  &-brand {
    width: 200px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    /*img {
      align-self: center;
    }*/

    h2 {
      margin-block-start: 0;
      margin-block-end: 0;
      color: $color-primary-2;
      font-size: 36px;
      font-weight: 400;
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  &-about {
    text-align: center;
    padding: 0 0 15px 0;

    &-city {
      padding-bottom: 3px;
      margin-block-start: 0;
      margin-block-end: 0;
      color: $color-primary-1;
      font-size: 13px;
    }

    &-caption {
      padding-bottom: 3px;
      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 10px;
    }

    span {
      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 9px;
    }
  }

  &-tags {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
